<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1>Catálogo de Produtos</h1>
            <hr>
        </div>

        <div class="col-md-3 mt-3" *ngFor="let product of products$ | async">
            <div class="card">
                <img [src]="product.imagem" class="card-img-top" alt="Imagem do produto">
                <div class="card-body">
                    <h5 class="card-title">{{ product.nome }}</h5>
                    <p class="card-text">
                        <strong>Preço:</strong> R$ {{product.preco}}
                    </p>
                    <a href="#" class="btn btn-primary btn-block">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>